/* style.css */

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 200px;
  
}

p3a {
  background-color: #0000ff80;
}

h1 {
  color: #240;
}

p {
  margin-bottom: 15px;
}

/* You can add more CSS rules to style your elements */

