/* style.css */

body {
  font-family: serif;
  line-height: 1.6;
  margin: 200px;
  background-color: light blue;
}


h1 {
  background-color: green;
}

p {
  margin-bottom: 15px;
}

/* You can add more CSS rules to style your elements */

